.main {
    --padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    min-height: 100vh;
    max-width: 100vw;
    background-color: #111;
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.info {
    position: absolute;
    top: 2em;
    right: 2em;
}

.container {
    background-color: rgb(80 80 80 / 45%);
    width: 100%;
    max-width: 1300px;
    max-height: 2000px;
    min-height: 600px;
    height: calc(100vh - var(--padding) * 2);
    border-radius: 40px;
    padding: 6rem;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(93 93 93 / 20%);
    z-index: 10;
    display: flex;
    gap: 2em;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_box {
    flex: 6;
}

.button {
    flex: 1;
}

.output {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.content {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.filler {
    width: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    border-radius: 50%;
    animation: expand .5s 2s ease-in forwards;
    background: #323232;
}

@keyframes expand {
    0% {
        /*background: #fff;*/
        width: 20px;
    }
    100% {
        /*background: #484848;*/
        width: 200%;
        z-index: 20;
    }
}

.summary{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 2em;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow-y: scroll;
    opacity: 0;
    animation: load .5s 2.5s ease-in forwards;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.summary_caption{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.inputs {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 1em;
}

@media screen and (max-width: 768px) {
    .main{
        --padding: 0;
    }

    .container {
        padding: 1.2rem;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .inputs {
        margin-top: 40px;
        flex-direction: column;
        align-items: stretch;
    }

    .info {
        top: 1em;
        right: 1em;
    }

    .summary{
        padding: 1em;
        gap: 1em;
    }

    .summary_caption{
        font-size: 2rem;
    }
}