.loading {
    --height: 200px;
    --width: 200px;

    height: var(--height);
    width: var(--width);
    border-radius: 50%;
    position: absolute;
}

.outer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #04c295;
    background-image: radial-gradient(at 24.1% 70.9%, #289bfa 0px, transparent 50%),
    radial-gradient(at 77.9% 48.1%, #80ff63 0px, transparent 50%),
    radial-gradient(at 18.6% 24.5%, #08d10f 0px, transparent 50%),
    radial-gradient(at 46.9% 7.3%, #96eeff 0px, transparent 50%),
    radial-gradient(at 62.4% 19.0%, #77def7 0px, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    animation: spin 4s linear infinite;
    position: relative;
    z-index: 10;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.inner {
    background: #ffffff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px 0px #30303066;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    z-index: 15;
}
